.large {
    padding: 50px
}
.cardwidth {
    width: 20rem;
}
.margintopbottom {
    margin-top: 20px;
    margin-bottom: 20px;
}
.margintopbottom20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.margintopbottom10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.marginbottom10 {
    margin-bottom: 10px;
}
.cardmin {
    min-width: 300px;
}
.jumbotronheight {
    height: 200px;
}



.heartredbutton
{
    background-image:  url('/static/heart-red.png');
    background-color: transparent;
    cursor: pointer;
    border: none;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.heartdarkbutton
{
    background-image:  url('/static/heart-dark.png');
    background-color: transparent;
    cursor: pointer;
    border: none;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}
